:root {
  font-family: "Inter",system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: black;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
}

.header {
  padding: 50px;
  background-color: black;
  width: 100vw;
  box-sizing: border-box;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-text {
  align-items: center;
  font-size: 18px;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hello {
  margin: 0;
  font-size: 14px;
  opacity: 80%;
}

.adnan {
  width: 32px;
  height: 32px;
}

.mid-row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mid-right{
  display: flex;
  align-items: center;
  gap: 5px;
  opacity: 60%;
}

.middle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.back-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.demo {
  width: 32px;
  height: 32px;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

button {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.docs {
  width: 16px;
  height: 16px;
}

.navbar {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  opacity: 70%;
}

.navbar span {
  padding: 6px 7px;
  cursor: pointer;
  font-size: 14.4px;
}

.action-buttons{
  margin: 30px;
  display: flex;
  gap:6px;
}

.action-buttons img{
  width: 20px;
  height: 20px;
}

.action-buttons button{
  gap: 8px;
  padding: 10px;
  justify-content: center;
  background-color: #1F252B;
  font-size: 17.6px;
  border-radius: 8px;
  border: 2px solid #272E32;
  flex: 1;
}