:root {
  font-family: "Inter",system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: black;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
}

.header {
  padding: 50px;
  background-color: black;
  width: 100vw;
  box-sizing: border-box;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-text {
  align-items: center;
  font-size: 18px;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hello {
  margin: 0;
  font-size: 14px;
  opacity: 80%;
}

.adnan {
  width: 32px;
  height: 32px;
}

.mid-row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mid-right{
  display: flex;
  align-items: center;
  gap: 5px;
  opacity: 70%;
}

.middle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.back-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.demo {
  width: 32px;
  height: 32px;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

button {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.docs {
  width: 16px;
  height: 16px;
}

.navbar {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  opacity: 70%;
}

.navbar span {
  padding: 6px 7px;
  cursor: pointer;
  font-size: 14.4px;
}

.action-buttons{
  margin: 20px 60px;
  display: flex;
  gap:6px;
}

.action-buttons img{
  width: 20px;
  height: 20px;
}

.action-buttons button{
  gap: 8px;
  padding: 10px;
  justify-content: center;
  background-color: #1F252B;
  font-size: 17.6px;
  border-radius: 8px;
  border: 2px solid #272E32;
  flex: 1;
}

.stats-overview {
  margin: 0px 60px;
}

.stats-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 20px;
}

.stats-summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 16px;
  color: #00FF82;
}

.right-top{
  font-size: 14.4px;
}

.vio{
  color: #9B4FD3;
}

.gre{
  color: #2EAF6D;
}

.blu{
  color: #7C9BF2;
}

.stat{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  font-size: 14.4px;
}

.status-bar{
  display: flex;
  height: 10px;
  margin: 10px 0 15px;
}

.status-bar .violet{
  background-color: #9B4FD3;
  width: 83.1%;
}

.status-bar .green{
  background-color: #2EAF6D;
  width: .9%;
}

.status-bar .white{
  background-color: #E6E8EC;
  width: 1.2%;
}

.status-bar .blue{
  background-color: #7C9BF2;
  width: 14.8%;
}

.guest-list{
  margin: 0 60px;
}

.guest-list-title{
  display: flex;
  margin-bottom: 10px;
  font-size: 17.6px;
  font-weight: 600;  
}

.guest-search{
  background-color: #1F252B;
  color: white;
  outline: none;
  border-radius: 8px;
  border: 2px solid #272E32;
  padding: 8px 30px;
  font-size: 14.4px;
  width: 100%;
  box-sizing: border-box;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-icon{
  position: absolute;
  width: 14.14px;
  height: 14.39px;
  padding-left: 12px;
}

.filter{
  margin: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-title{
  font-size: 17.6px;
  font-weight: 600;
}

.filter-bar{
  display: flex;
  gap: 10px;
}

.filter-dropdown{
  border-radius: 4px;
  background-color: #1F252B;
  color: #9E9E9E;
  border: 2px solid #272E32;
  padding: 8px 8px;
  font-size: 14.4px;
}